service: savewx

provider:
  name: aws
  runtime: python3.7
  region: us-west-1
  profile: default
  environment:
    bucket: ${self:custom.bucketName}

  iamRoleStatements:
    - Effect: Allow
      Action:
          - s3:PutObject
          - s3:PutObjectAcl
      Resource: 'arn:aws:s3:::${self:custom.bucketName}/*'

functions:
  ghccsat:
    handler: savewx/handlers.ghcc_satellite

  ttsat:
    handler: savewx/handlers.tt_satellite

plugins:
  - serverless-python-requirements

custom:
  pythonRequirements:
    dockerizePip: true
    slim: true

  bucketName: savewx-dump

resources:
  Resources:
    OutputBucket:
      Type: AWS::S3::Bucket
      Properties:
        BucketName: ${self:custom.bucketName}